<h2>Make Changes to <%= @band.name %> </h2>

  <h2>Which Venues Has This Band Played At?</h2>

  <form action="/which_venues/<%= @band.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @venues.each() do |venue| %>
      <div class = "checkbox">
        <label>
          <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
        </label>
      </div>
    <% end %>
    <button type="submit">Add Venues</button><br><br>
  </form><br>

  <% if @band.venues().any?() %>
  <h3>Here are all the venues where this band has played:</h3>

  <ul>
    <% @band.venues().each() do |venue| %>
    <%= venue.name() %><br><br>
    <% end %>
  <% end %>

<h3>Want To Edit This Band's Name?</h3>
 <form action="/band/<%= @band.id %>/edit" method="post">
   <input type="hidden" name="_method" value="patch">
   <label for="name">Rename Band</label><br>
   <input type="text" name="name"><br><br>
   <button type="submit">Update and Return Home</button>
 </form><br>

  <form action="/band/<%= @band.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Band and Return Home</button>
  </form>
